#wsu-signature,
.spine-mobile #wsu-signature,
#jacket #binder #wsu-signature {
	background-image: url(./assets/logo.png);
	background-position: top center;
	background-size: 220px;
	height: 70px;
}

#shelve,
#shelve:after,
#shelve:before {
	border-color: #3d3e3d;
}

/* --- overwrite an old Spine remnant - will be changed in next release --- */
#spine nav li.parent.active > a:hover {
	cursor: pointer;
}

/* --- temporary overwrite to get the nav out of the way --- */
.spine-mobile #spine {
	display: block;
}

/* take off home icon from home link */
#spine .spine-sitenav > ul > li:first-child > a,
#spine .spine-sitenav > ul > li:first-child > a:hover,
#spine .spine-sitenav > ul > li.active:first-child > a {
	background: none;
	padding-left: 0;
}

#spine .spine-sitenav ul li ul li.active a {
	font-weight: 700;
}

#spine .spine-sitenav ul li.parent.opened:after {
	display: block;
	content: "\25C0";
	width: 0;
	height: 50px;
	font-size: 50px;
	transform: rotate(270deg);
	color: #a03221;
	text-align: center;
	position: relative;
	left: 50%;
	top: -5px;
}

@media screen and (max-width: 791px) {

	#binder.fluid #spine #wsu-actions section {
		width: 100%;
	}
}

@media (max-width: 989px) {

	#binder #spine header {
		background-color: #a03221;
	}

	#binder #spine #scroll {
		background-color: #d1d2d4;
	}

	.spine-mobile-open #spine #scroll,
	#binder.fluid #spine #glue {
		width: 100vw;
	}

	.spine-mobile #glue {
		left: -100vw;
	}

	.spine-mobile-open #glue {
		left: 0;
	}

	.spine-animating.spine-move-right #glue {
		transform: translate(100vw);
	}

	.spine-animating.spine-move-left #glue {
		transform: translate(-100vw);
	}

	#binder.fluid #spine #wsu-actions section {
		width: 100%;
	}

	#spine #wsu-actions {
		margin-top: 2rem;
	}

	#spine .spine-actions-tabs button,
	#spine .spine-footer small a,
	#spine .spine-social-channels a,
	#spine .spine-search-tab button,
	#spine .spine-sitenav a,
	.spine-mobile #spine.white .spine-sitenav a:hover {
		color: #3d3e3d;
	}

	#spine .spine-sitenav a:hover,
	#spine .spine-sitenav li.dogeared > a,
	#spine li:not(.parent).dogeared > a,
	.spine-mobile #spine.white .spine-sitenav li.dogeared > a:hover {
		color: #a03221;
	}

	.spine-mobile #spine footer {
		width: calc(100vw - 54px);
	}
}

@media (min-width: 990px) {

	#spine {
		background: #a03221;
		display: flex;
		height: auto;
		margin-left: calc(-50vw + 790px / 2);
		min-height: 0;
		position: relative;
		width: 100vw;
		z-index: 1;
	}

	#spine:before {
		background: #d1d2d4;
		content: "";
		height: calc(100% - 50px);
		position: absolute;
		margin-top: 50px;
		width: 100%;
	}

	#glue,
	.admin-bar #spine #glue {
		box-sizing: content-box;
		display: flex;
		margin: 0 auto;
		max-width: 1188px;
		padding: 0 2rem;
		position: static;
		width: 100%;
	}

	#spine #glue:before,
	.spine-full #glue:before,
	#spine .spine-actions,
	#spine nav > ul > li > ul > li > ul,
	#spine nav.spine-sitenav > ul > li > ul > li.opened > a:after,
	#spine nav.spine-sitenav > ul > li > ul > li.parent > a:after,
	.spine-offsitenav,
	#spine footer {
		display: none;
	}

	#binder #spine header {
		background-color: transparent;
	}

	.spine-header {
		height: 50px;
		width: 220px;
	}

	#spine .spine-navigation {
		flex: 1;
	}

	#spine .spine-navigation,
	#spine .spine-sitenav {
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: relative;
	}

	#jacket #spine .spine-sitenav li {
		font-size: .9rem;
	}

	#jacket #spine .spine-sitenav > ul > li > a {
		color: #fcfcfc;
		font-weight: 300;
		height: 50px;
		line-height: 50px;
		padding: 0;
	}

	/* - don't show icon on second level nav (third level is already visible) - */
	#spine nav.spine-sitenav > ul > li > ul > li.opened > a:after,
	#spine nav.spine-sitenav > ul > li > ul > li.parent > a:after {
		display: none;
	}

	#spine nav.spine-sitenav > ul > li {
		position: static;
		padding-bottom: 0;
		transition: all .3s ease;
	}

	#spine nav > ul > li > a,
	#spine nav li.parent.active > a,
	#spine nav li.parent.opened > a {
		padding-bottom: 0;
	}

	#spine .spine-sitenav > ul > .parent > .sub-menu > li {
		visibility: hidden;
	}

	#spine nav.spine-sitenav > ul > li > ul {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		left: 0;
		max-height: 250px;
		padding: 2.25rem 2rem;
		position: absolute;
		width: 100%;
	}

	#spine nav.spine-sitenav > ul > li.opened > ul {
		z-index: 2;
	}

	/* prevent sub menus from flashing in during close transition */
	#spine nav.spine-sitenav > ul > li.last-opened > ul {
		z-index: 1;
	}

	#spine nav.spine-sitenav > ul > li > ul > li {
		border-bottom: 1px solid #969696;
		display: inline-block;
		margin-right: 2em;
		max-width: 294px;
		padding: .5em 0;
		width: calc(100% / 3);
	}

	#spine nav.spine-sitenav > ul > li > ul > li:nth-child(5n),
	#spine nav.spine-sitenav > ul > li > ul > li:last-child {
		border: none;
	}

	#jacket #spine nav li.parent.active > a,
	#jacket #spine nav li.parent.opened > a {
		color: #d1d2d4;
	}

	#spine .sub-menu .sub-menu {
		margin: 0 0 0 1em;
	}

	#jacket #spine nav > ul > li > ul > li a,
	#jacket #spine .spine-sitenav > ul > li > ul > li.parent.active > a {
		color: #5e5e5e;
	}

	#spine nav > ul > li > ul > li {
		display: block;
		margin-left: 0;
	}

	#jacket #spine .spine-sitenav > ul > li > ul a {
		color: #a03221;
		padding: 0;
		transition: color .3s ease;
	}

	#jacket #spine .spine-sitenav > ul > li > ul a:hover {
		color: #5e5e5e;
	}

	/* - show parent icon - */
	#spine nav li.parent.opened > a:after,
	#spine nav li.parent > a:after {
		display: inline;
		position: inherit;
		padding-left: .5em;
	}

	#spine nav li.parent.opened > a:focus:after,
	#spine nav li.parent.opened > a:hover:after,
	#spine nav li.parent > a:focus:after,
	#spine nav li.parent > a:hover:after {
		display: inline;
	}

	#binder #spine nav li.parent.active > a:after {
		content: "\F501";
	}

	#binder #spine nav li.parent.opened.active > a:after {
		content: "\F500";
	}

	#spine nav.spine-sitenav > ul {
		display: flex;
		flex-wrap: wrap;
		margin-left: 2rem;
		padding: 0;
	}

	#spine nav.spine-sitenav > ul > li {
		border: none;
		padding-right: 1.5em;
	}
}
