.video {
	position: relative;
}

#binder.fluid .row.video:not(.column):not(.rebound) {
	width: 100vw !important;
}

.video .column {
	box-sizing: border-box;
	overflow: hidden;
	margin-top: -100px;
	position: relative;
	transition: height .25s, padding-bottom .25s;
}

.video .column.playing {
	height: 0;
	padding-bottom: 56.25%;
}

.nara-youtube-wrapper {
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	padding-bottom: 0;
	transition: padding-bottom .25s;
}

.playing .nara-youtube-wrapper {
	height: 0;
	padding-bottom: 56.25%;
}

.nara-youtube-wrapper,
.nara-youtube-wrapper iframe {
	left: 0;
	position: absolute;
	width: 100%;
}

.nara-youtube-wrapper iframe {
	height: 100%;
	z-index: -1;
}

.playing .nara-youtube-wrapper iframe {
	z-index: 201;
}

.nara-youtube-close {
	cursor: pointer;
	display: none;
	height: 40px;
	padding: 10px;
	position: absolute;
	right: 15px;
	top: 0;
	width: 40px;
	z-index: 201;
}

.playing .nara-youtube-close {
	display: block;
}

.nara-youtube-close svg {
	height: 20px;
	width: 20px;
}

.nara-youtube-close svg path {
	fill: #a03221;
	transition: fill .5s ease;
}

.nara-youtube-close:hover svg path {
	fill: #000;
}

.video-overlay-content {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 790px;
	padding: 2rem;
	position: relative;
	width: 100%;
}

.video h1,
.video p,
.video a {
	color: #fcfcfc;
	letter-spacing: 1px;
}

.video h1 {
	font-size: 1.7rem;
	padding-bottom: .6em;
	margin-bottom: .4em;
	text-align: left;
	border-bottom: 1px solid #fcfcfc;
}

.home .video h1 {
	padding-top: 0;
}

.video p {
	font-size: 20px;
	line-height: 1.2;
}

.video .more {
	cursor: pointer;
	font-size: 33px;
	transition: color .5s ease;
}

.video .more:after {
	display: inline-block;
	font-family: Spine-Icons;
	font-size: 22px;
	content: "\F501";
	border: 2px solid #fcfcfc;
	border-radius: 100px;
	text-align: center;
	line-height: 2;
	height: 42px;
	width: 42px;
	margin-left: .6em;
	vertical-align: middle;
	transform: rotate(270deg);
	transition: border .5s ease;
}

.video .more:hover {
	color: #831e0e;
}

.video .more:hover:after {
	border: 2px solid #831e0e;
}

@media only screen and (min-width: 791px) {

	.video {
		min-height: 400px;
	}

	.video .column {
		height: 550px;
		margin-top: -150px;
		position: static;
	}

	.nara-youtube-wrapper {
		padding-bottom: 550px;
	}

	.nara-youtube-close {
		top: -40px;
	}

	.video-overlay-content {
		margin-top: 150px;
	}
}

@media only screen and (min-width: 990px) {

	#binder.fluid.max-1188 .row.video {
		max-width: none;
	}
}
